<body>
  
<h1>
  
You hop into a town car after finishing your healthy (and delicious) omelet. After taking the wrong turn at the intersection for the hundredth time, you finally arrive at the WIX office in Chelsea. However, before you can even step out of your car, a horde of paparazzi crowds around your car. Well, what did you expect? You’re Karlie Kloss! 
Pushing past the paparazzi, you finally make it to the WIX building. You see people rushing around with props and fancy equipment. You’re ushered into the dressing room and before you can ask what’s happening, you find yourself in the middle of a set. 
A sleek-looking woman in a stylish pant suit walks up to you, scribbling on her clipboard.       “Good morning Karlie! It’s great to have you here!” The woman, whom you assume is the boss, reaches out for a handshake. Still overwhelmed, you give her a firm handshake and say, “Totally! Thanks for having me.” You take a deep breath as you realize the situation you're in. 
You start to debate if you should leave or stay.


  
</h1>
    
  <p>Do you stay on the WIX set, or leave?</p>
  
  <form method = "POST" action = "/aa">
<button> Stay </button>
  </form>
  
      <form method = "POST" action = "/ab">
<button> Leave </button>
  </form>
  
  
  
  
      
</body>