<head>
   <style>
     header
     {
       background-color: #e25241;
     }
     footer
     {
       background-color: #e25241;
     }
   </style>
 </head>
<body> 
<header>
       <br><br>
   </header>
<center><p> As you’re smiling for the camera, your head buzzes with thoughts. The photographer can probably sense your nerves, and he gives you a reassuring glance. You muster up your best smile for the camera, going along with the shoot. 
A few times, you nearly trip over your own feet. But that’s okay; it’s not every day you get to be taller than six feet! You wonder if Karlie feels this glamorous all the time.
 After the shoot finishes, you head back to your car. You sit down, pull out your phone, and Google “switched bodies with another person.” Google shows you references to the movie Freaky Friday, and scam websites asking for your credit card number, but nothing helpful. 
Just as you’re about to give up, you find a shady website in the corner of the internet with a description about body switching. You screech out, “Jackpot!”, but quickly lower your voice so that you won’t attract the paparazzi again. You scroll through the website frantically and find 2 addresses that each belong to a person claiming they had switched bodies with another person. Della Davis from South Dakota and Michel Féret from Paris. As tempting as it is to live the life of Karlie Kloss forever, you miss your old life. You toss your phone to the seat beside you and grip the steering wheel, determined to see yourself in the mirror again.
</p></center>

<center><p><b>Do you choose to go to South Dakota or Paris?<b></p></center>

  <form method = "POST" action = "/aaa">
<center><button> South Dakota </button></center>
  </form>
  
      <form method = "POST" action = "/aab">
<center><button> Paris </button></center>
  </form>
     
  <footer>
    <br><br>
  </footer>
  
 
</body>

