<head>
   <style>
     header
     {
       background-color: #e25241;
     }
     footer
     {
       background-color: #e25241;
     }
   </style>
 </head>
<body>
   <header>
       <br><br>
   </header>
   
  
<center><p>You decide to go to South Dakota and talk to Ms. Davis. In order to get to South Dakota, you have to fly from JFK Airport to the Rapid City, then drive to Della’s location. 
You drive to the airport and decide to indulge yourself in the luxury of flying first class. Maybe it’s unnecessary, but you deserve it.
Even without Google Maps, you can probably guess there was not much in South Dakota; Maybe one or two restaurants and Dairy Queens here and there. But you surely didn’t expect grass surrounding you in all directions. Luckily, Della’s house was situated smack in the middle of all that greenery. You made your way to the door and mentally prepared yourself for the awkward conversation that will occur. You knocked once, twice, but no one answered. You could feel the determination slipping away as you kept knocking. After the you knocked for the fifth time, a middle-aged women with streaks of white hair finally opened the door. “Can I help you?” she asked as you stood there surprised by her sudden appearance. “I’m looking for Della Davis?” “I’m Della.” she answered vaguely. “Hi, Della! I read your story on Jamie-Lee-Curtis-Fanpage.com and I was wondering if I could ask you about body switching?” Della looked at you up and down and was about to slam the door in your face when you hear Freaky Friday playing in the background. Thinking quickly you blurted, “I like Jamie Lee Curtis!”. Della grinned at you and shuffled you into her house. She was apparently an avid fan of Jamie. You manage to get her to tell you more about body switching. After you thanked her for her help you returned to the hotel. Of course, you decided to book the biggest suite they had. You walked into the bathroom, exhausted from the day. </p></center>

  <form method = "POST" action = "/aaa_end">
<center><button> Ending </button></center>
  </form>
   <footer>
    <br><br>
  </footer>
  </body>