<head>
   <style>
     header
     {
       background-color: #e25241;
     }
     footer
     {
       background-color: #e25241;
     }
   </style>
 </head>
<body>
  <header>
       <br><br>
   </header>
   
  
  <center><p>You wake up super relaxed from the amazing bed the hotel had. You walk into the bathroom and realize that you’re no longer Karlie Kloss! Congrats! You returned to normal! However, that means you payed for the hotel and you went broke afterwards. Since you didn’t bring a ton of money with you… you ended up eating grass.</p></center>
  <footer>
    <br><br>
  </footer>
</body>

