<head>
   <style>
     header
     {
       background-color: #e25241;
     }
     footer
     {
       background-color: #e25241;
     }
   </style>
 </head>
<body>
   <header>
       <br><br>
   </header>
  <center><p>
You decide to go to Paris and meet Michel Féret. After packing your luggage, you drive to the airport and decide to indulge yourself in the luxury of flying first class. Maybe it’s unnecessary, but you deserve it. Even without a map, you can probably guess Paris is quite big. It becomes even more difficult when you don’t know how to speak French. After asking a dozen people for directions, you finally find the house of Michel Féret. You made your way to the door and mentally prepared yourself for the awkward conversation that will occur. You knocked once, twice, but no one answered. You could feel the determination slipping away as you kept knocking. After the you knocked for the fifth time, a middle-aged man with streaks of white hair finally opened the door. “Can I help you?” He asked as you stood there surprised by his sudden appearance. “I’m looking for Michel Féret?” “I’m Michel.” He answered vaguely. “Hi, Michel! I read your story on the Jamie-Lee-Curtis-Fanpage.com and I was wondering if I could ask you about body switching?” Michel looked at you up and down and was about to slam the door in your face when you hear Freaky Friday playing in the background. Thinking quickly you blurted, “I like Jamie Lee Curtis!”.  Michel grinned at you and shuffled you into his house. He was apparently an avid fan of Jamie. You manage to get him to tell you more about body switching. After you thanked him for his help you returned to the hotel. Of course, you decided to book the biggest suite they had. You walked into the bathroom, exhausted from the day. 
</p></center>
 <form method = "POST" action = "/aab_end">
<center><button>Ending</button></center>
  </form>
 <footer>
    <br><br>
  </footer>

</body>