<head>
   <style>
     header
     {
       background-color: #e25241;
     }
     footer
     {
       background-color: #e25241;
     }
   </style>
 </head>
<body>
  <header>
       <br><br>
   </header>
 <center><p> Modeling isn’t for you, and neither is pretending to be one! You struggle to remember your past with all of the glitz and glam, but quickly remember who you are. People would find out and that can’t happen! What would they do to you? You quickly realize that something needs to change. But the clothes and bags are nice, way nicer than your crummy Target handbag and your ripped American Eagle shirt. You think of two possibilities: Be Karlie forever and live a chic and stylish life, or go back to being you: broke, but happy with who you are. </p></center>
 
 <center><p><b>Do you want to remain as Karlie or go back to being you?<b></p></center>
 
  <form method = "POST" action = "/aba">
<center><button> Remain as Karlie </button></center>
   </form>
  
<form method = "POST" action = "/abb">
     <center><button> Return to being yourself </button></center>
     </form>
      <footer>
    <br><br>
  </footer>
     
</body>