<body> 
<p> Who would want to be broke? Not you! Although Buttons comes back to your mind. That poor corgi. Maybe you can break into Karlie’s new apartment. Suddenly you hear a ring. It’s your phone and Devon just texted you. Ugh she’s confirming lunch with you. Another person you have to talk to! This model life is hard! You quickly google her finding out that she works for you. Interesting… Moving forward, what will you do! Should you say that you can go to lunch, or can’t? </p>

<p> Do you decline or accept the lunch invite? </p>

<form method = "POST" action = "/abaa">
<button> Yes </button>
   </form>
  
<form method = "POST" action = "/abab">
      <button> No </button>
     </form>

<body>