<body>
  <p>
    
    You text Devon “Yes” and head out to meet her. When you arrived at the restaurant, you found Devon thanks to the contact photo on your phone. As you sit down at the table, the reality of it all finally hits you. You’re going to be Karlie Kloss! “I wanted to talk to you about the shoot in the afternoon...” Devon’s voice seems to grow farther and farther as she went on. Your vision starts to get hazy and suddenly everything clears up. Your eyes clam up from the bright light that seemed to come from all directions. Then you hear a familiar voice. “Get up!” your mom shouted. You find yourself buried under a pile of pillows on top of your bed. As your mom leaves your room, you look at the alarm and go back to sleep.


  </p>
   </body>