<body> 
<p>
  Lunch is a no, no. You have no idea who Devon is or what she wants. You decide to take a walk to clear your mind, when the paparazzi jumped out and attacked you with their flashing lights. “Not again” you thought as you tried to push through the crowd. And that became your daily routine from that point forward. You spent your days living the amazing life of Karlie Kloss and learned how to sneak past the paparazzi. And you lived happily ever after with Buttons the corgi.
</p>

</body>