<head>
   <style>
     header
     {
       background-color: #e25241;
     }
     footer
     {
       background-color: #e25241;
     }
   </style>
 </head>
<body>
   <header>
       <br><br>
   </header>
  <center><p>
    You love being you! Buttons and your job are your life and you would never give them up! You really wish you could return to being you, but who do you even go to? The doctor? Google? You return to the house and start looking for scrap paper. After all, if you want to return to normal in this mess, you should probably have a plan. You start writing out all things you know and just when you were starting to lose hope, you see a message notification from your phone number! Was the actual you calling your Karlie Kloss form? You quickly call the number and a voice answers you. Lucky for you, the real Karlie had figured out the situation. She told you that Jamie Lee Curtis had once told her about her body switching experience. The solution to switch back was to simply sleep and wake up the next day. So, by the beginning of the next day, Karlie Kloss was Karlie Kloss and you were you.
  </p></center>
  <footer>
    <br><br>
  </footer>
  
</body>