<head>
   <style>
     header
     {
       background-color: #e25241;
     }
     footer
     {
       background-color: #e25241;
     }
   </style>
 </head>
<body>
  <header>
       <br><br>
   </header>
   
<center><p>You decided to decline the offer because you literally just woke up in another body! How are you going to deal with a photoshoot? After Analora left, you decided to go see a doctor. Maybe your just going a little insane? You drive to your doctor’s office and went to the waiting room. When it was finally your turn to see Dr. Coleman, you anxiously walk inside not knowing what to expect. “What’s wrong?” Dr. Coleman asked. You decide to get straight to the point and said “I woke up in another body.” Dr. Coleman stared blankly at you and opened your file. “You look fine to me,” she replied. You look at yourself in the little mirror by Dr. Coleman’s desk; That’s when you realized you were no longer Karlie Kloss, but yourself. This body switching dilemma went on and off for the next week until you decided to just live with it and opened Netflix to watch Freaky Friday. You fall asleep while watching the movie that night and from that night on you returned to normal. Who knows what was happening...maybe it was just another freaky friday story.
    </p></center>
     <footer>
    <br><br>
  </footer>
  
</body>