 <body>
   
<h1> A Day in the Life of Karlie Kloss </h1>

<p> It’s Thursday night and you get a late, unexpected call from your boss. 
According to the schedule, Karlie Kloss was supposed to come to your company tomorrow to lead a seminar that teaches young women the importance of code. However... your boss tells you Karlie had to cancel because of her upcoming wedding date!
You’ve been looking forward to this all month! You were so excited that you would get to meet your icon. You go to bed in your comfiest pajamas, disappointed about the bad timing </p>

<p>Your alarm goes off early Friday morning and you hit snooze, but then you realize you wouldn’t be able to sleep in anyway because of your strictly 9 to 5 job.  
Wait a second, why does everything look so weird? Why is your apartment so stylish? Why is your skin so smooth and moisturized? You see a mirror across from you, and are startled to see a tall, elegant blonde woman standing in your place. 
It takes you a minute, but it finally hits you - You’ve somehow transformed into Karlie Kloss! It's like Freaky Friday, but instead of Lindsay Lohan and Jamie Lee Curtis, it's you and Karlie Kloss!
 </p>

<p> You run downstairs to grab a quick breakfast when you see a tall blonde woman in the kitchen. She’s sitting on one of the stools next to the counter. As you try to make a egg white and spinach omelette, she rambles on about a project for WIX, a company that develops websites. 
You don’t really know who she is, or why she’s here, so you check your phone’s calendar and see that you have a meeting with Analora, your social media manager. 
“Karlie!” Analora says, grabbing your attention. “Would you like to accept the offer WIX made to you?” 
</p>

<p> Do you accept WIX’s offer even though you know nothing about the project, or do you decline? </p>


<form method = "POST" action = "/a">
<button> Yes </button>
   </form>
  
<form method = "POST" action = "/b">
<button> No </button>
  </form>
  
  
</body>

 
 
 
 
 