<head> 
 <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1> A Day in the Life of Karlie Kloss!? </h1>
  <p> Welcome to our awesome interactive story created by Kode with Klossy Scholars, Hope, Sarah, and Sandy! It's a Choose Your Own Adventure story - you make the decisions! :) <p>

  <form method = "POST" action = "/begin">
<button> Start the game </button>
</form>

</body>
